{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Literasi</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
  header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/static/img/background.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #dadde4;
}

.banner-text h1 {
  font-size: 100px;
  font-weight: 700;
}

.banner-text h2 {
  font-size: 30px;
  font-weight: 400;
}

.banner-btn a {
  border: 1px solid #ffffff;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  margin: 35px 10px;
  color: #ffffff;
}

h1 {
  color: #f7aa29;
  font-weight: 600;
  text-align: center;
}

h5 {
  color: #f7aa29;
  font-weight: 600;
  font-size: 30px;
}

/* span { */
  /* font-weight: 300; */
  /* font-size: 12px; */
/* } */

li {
  font-weight: 500;
}

#tabel{
  max-width: fit-content;
  padding-left: 2em;
  margin-left: 3em;
  margin-right: 3em;
}

#kunci{
  border-radius: 2em;
  border-width: 0.1em;
  font-size: 0.9em;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.425);
}

#search h4{
  margin-top: 1.5em;
  color: #f7aa29;
  font-weight: 700;
  font-style: italic;
  font-size: 2em;
}

@media (max-width: 600px) {
  .banner-text h1 {
    font-size: 50px;
  }

  .banner-text h2 {
    font-size: 15px;
  }

  .banner-btn a {
    margin: 10px 10px;
  }
  #tabel{
  align-items: center;
  font-size: 0.5em;
}
#kunci{
  font-size: 0.6em;
}
#gambar{
  width: 100%;
}
#search h4{
  font-size: 1em;
}
#search p{
  font-size: 0.7em;
}
}


</style>

{% endblock meta %}

{% block content %}
<header>
  <div class="container">
    <div class="banner-text">
      <div class="text-area">
        <h1>LiterasiKU.</h1>
        <h2>Cari buku-buku yang ingin kamu baca agar ilmu terus berkembang</h2>
        <p class="banner-btn"><a href="#search" class="active">Cari Buku</a></p>
        
      </div>
    </div>
  </div>
</header>


<!-- Search form -->
  <div class="container text-center" id="search">
    <br>
    <br>
    <h4>" Buku adalah Jendela Dunia "</h4>
    <p>Cari buku yang ingin kamu baca dengan mengetik <span style="font-weight: 700;">Judul Buku</span> 
      pada kotak <span style="font-style:italic;">Search</span> 
      <br>dan tekan tombol <span style="font-style: italic;">Enter</span> 
      untuk melihat list buku yang tersedia<br>Klik <span style="font-weight: 700;">Link</span> untuk mengetahui informasi buku lebih lanjut</p>
    <br>

      <input id="kunci" class="form-control form-control-md " type="text" placeholder="  Search" aria-label="Search" >
  
  </div>
  <br>
  <br>
  <div >
    <table id="tabel" class="table table-striped text-center"  >
      <thead><tr><th scope="col">Buku</th><th scope="col">Cover Buku</th><th scope="col">Pencipta</th><th scope="col">Penerbit</th><th scope="col">Link</th></tr></thead>
      <tbody id="isiTabel">
      </tbody>
    </table>
    <br>
    <br>
    <br>
  </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'story8.js' %}"></script>

{% endblock content %}
